.link_label {
    position : absolute;
    width : 25px;
    height : 25px;         
    width : 30px;
    text-align : center;
    vertical-align : middle;
    font-size : 10pt;
    background-color: #082629;
    border-radius: 2px;
    box-shadow: 1px 1px 6px 0px #888888;
    border: solid 2px black ;
}